.max-width-1{
    max-width: 80vw;
}

.max-width-2{
    max-width: 60vw;
}

.m-auto{
    margin: auto;
}

.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.center{
    text-align: center;
}